/* Keyframes */

@keyframes blink-critical {
	to {
		background-color: @critical;
	}
}


/* Styles */
@define-color black #241b26;
@define-color white #eed5d9;

@define-color warning #a84a73;
@define-color critical #de5b44;
@define-color mode @black;
@define-color unfocused	#46354a;
@define-color focused	#c965bf;
@define-color sound	#c965bf;
@define-color network	#9c5fce;
@define-color memory	#877bb6;
@define-color cpu	#7e5f83;
@define-color temp #a84a73;
@define-color battery	#6a9eb5;
@define-color date #46354a;
@define-color time #eed5d9;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(47, 42, 63, 0.8);
	color: @white;
	font-family: Fira Code Mono, Siji;
	font-size: 11pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#network,
#wireplumber,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}

#workspaces button.visible {
	color: #c965bf;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#wireplumber {
	background: @sound;
	color: @white;
}

#network {
	background: @network;
	color: @white;
}

#memory {
	background: @memory;
	color: @white;
}

#cpu {
	background: @cpu;
	color: @white;
}

#temperature {
	background: @temp;
	color: @white;
}

#battery {
	background: @battery;
	color: @white;
}

#clock.date {
	background: @date;
	color: @white;
}

#clock.time {
	background: @time;
	color: @black;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @date;
	background: @battery;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @battery;
	background: @temp;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @memory;
	background: @network;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @network;
	background: @sound;
}

#custom-arrow8 {
	font-size: 11pt;
	color: @sound;
	background: transparent;
}

#custom-arrow9 {
	font-size: 11pt;
	color: @unfocused;
	background: transparent;
}
